<!DOCTYPE html>
<html>
<head>
    <title>Add Course</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'classes/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header mb-4">
            <h1 class="text-primary">Add Course</h1>
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Add Course</button>
        </form>
    </div>
</body>
</html>
